#navBarColor{
    background-color: #6DAEDB;
    background-image: linear-gradient(180deg,#6DAEDB 10%,#6DAEDB 100%);
}

#headingText{
    color: #FFFFFF;
}

#iconColor{
    color: #FFFFFF;
}

#sideBarToggle{
    background-color: #7E9181;
}

#blueText{
    color:#03254E !important;
}

/* Color Scheme
Black: #070707
White: #FFFFFF
Grey: #7E9181
Blue: #03254E
Dark Green Blue: #023C40

*/